name: "Update Version"

on:
  push:
    # tags:
    #   - v*
    #branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]
  workflow_dispatch:

jobs:
  versioning:
    environment: versioning
    name: Versioning
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      security-events: write

    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.VERSION_BUMPER_APPID }}
          private-key: ${{ secrets.VERSION_BUMPER_SECRET }}

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}

      - name: setup .net core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "8.0.x"

      - name: install gitversion
        uses: gittools/actions/gitversion/setup@v0
        with:
          versionspec: "5.x"

      - name: Use GitVersion
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0

      - name: Create version file
        run: |
          echo "Version: ${{ steps.gitversion.outputs.majorMinorPatch }}" > version.txt

      - name: Commit and push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add version.txt
          git commit -m "Update version"
          git push